<div class="e-body-topnav-holder">
    <div class="e-body-topnav e-body-topnav-t">
        <!-- <div class="e-body-topnav-t-square"></div>
        <div class="e-body-topnav-t-square"></div>
        <div class="e-body-topnav-t-square"></div> -->
        <div class="e-body-topnav-t-i-pos" style="---left:8%;---top:10%;">
            <div class="e-body-topnav-t-i e-minipad" style="---width:17vw;---height:18vw;">
                <div class="e-body-topnav-t-i-el">
                    <div class="fframe-body">
                        <div class="fframe-body-header">
                            <div class="fframe-body-header-start">
                                <div class="fframe-body-header-i fframe-body-header-i1"></div>
                                <div class="fframe-body-header-i fframe-body-header-i2"></div>
                            </div>
                            <div class="fframe-body-header-center">
                                <div class="fframe-body-header-i fframe-body-header-i3"></div>
                            </div>
                            <div class="fframe-body-header-end">
                                <div class="fframe-body-header-i fframe-body-header-endi fframe-body-header-i4"></div>
                                <div class="fframe-body-header-i fframe-body-header-endi fframe-body-header-i5"></div>
                                <div class="fframe-body-header-i fframe-body-header-endi fframe-body-header-i6"></div>
                                <div class="fframe-body-header-i fframe-body-header-endi fframe-body-header-i7"></div>
                            </div>
                            
                        </div>
                        <div class="fframe-body-content">
                            <div class="fframe-primary">
                                <div class="e-iframeWrapper">
                                    <div class="e-iframe">
                                        <iframe  src="https://www.youtube.com/embed/p7ZsBPK656s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="fframe-info">
                                    <div class="fframe-info-title1">
                                        
                                    </div>
                                    <div class="fframe-info-title2">
                                        
                                    </div>
                                    <div class="fframe-info-content">
                                        <div class="fframe-info-content-i1">
                                            <div class="fframe-info-content-i1-icon"></div>
                                        </div>
                                        <div class="fframe-info-content-i2">
                                            <div class="fframe-info-content-i2-t1">
                                                <div>
                                                    <div class="fframe-info-content-i2-t1-t1"></div>
                                                    <div class="fframe-info-content-i2-t1-t2"></div>
                                                </div>
                                                <div class="fframe-info-content-i2-t1-sub"></div>
                                            </div>
                                            <div class="fframe-info-content-i2-t2"></div>
                                            <div class="fframe-info-content-i2-t3-wrapper">
                                                <div class="fframe-info-content-i2-t3"></div>
                                            </div>
                                            <div class="fframe-info-content-i2-t4"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fframe-rec-wrapper">
                                    <div class="fframe-rec-card">
                                        <div class="fframe-rec-card-i1" style="background: #475B5A;"></div>
                                        <div class="fframe-rec-card-i2">
                                            <div class="fframe-rec-card-t1 fframe-rec-card-ii"></div>
                                            <div class="fframe-rec-card-t2 fframe-rec-card-ii"></div>
                                            <div class="fframe-rec-card-t3 fframe-rec-card-ii"></div>
                                        </div>
                                    </div>
                                    <div class="fframe-rec-card">
                                        <div class="fframe-rec-card-i1" style="background: #A3A9AA;"></div>
                                        <div class="fframe-rec-card-i2">
                                            <div class="fframe-rec-card-t1 fframe-rec-card-ii"></div>
                                            <div class="fframe-rec-card-t2 fframe-rec-card-ii"></div>
                                            <div class="fframe-rec-card-t3 fframe-rec-card-ii"></div>
                                        </div>
                                    </div>
                                    <div class="fframe-rec-card">
                                        <div class="fframe-rec-card-i1" style="background: #8D8E8E;"></div>
                                        <div class="fframe-rec-card-i2">
                                            <div class="fframe-rec-card-t1 fframe-rec-card-ii"></div>
                                            <div class="fframe-rec-card-t2 fframe-rec-card-ii"></div>
                                            <div class="fframe-rec-card-t3 fframe-rec-card-ii"></div>
                                        </div>
                                    </div>
                                    <div class="fframe-rec-card">
                                        <div class="fframe-rec-card-i1" style="background: #52D1DC;"></div>
                                        <div class="fframe-rec-card-i2">
                                            <div class="fframe-rec-card-t1 fframe-rec-card-ii"></div>
                                            <div class="fframe-rec-card-t2 fframe-rec-card-ii"></div>
                                            <div class="fframe-rec-card-t3 fframe-rec-card-ii"></div>
                                        </div>
                                    </div>
                                    <div class="fframe-rec-card">
                                        <div class="fframe-rec-card-i1" style="background: #BBBBBF;"></div>
                                        <div class="fframe-rec-card-i2">
                                            <div class="fframe-rec-card-t1 fframe-rec-card-ii"></div>
                                            <div class="fframe-rec-card-t2 fframe-rec-card-ii"></div>
                                            <div class="fframe-rec-card-t3 fframe-rec-card-ii"></div>
                                        </div>
                                    </div>
                                    <div class="fframe-rec-card">
                                        <div class="fframe-rec-card-i1" style="background: #52D1DC;"></div>
                                        <div class="fframe-rec-card-i2">
                                            <div class="fframe-rec-card-t1 fframe-rec-card-ii"></div>
                                            <div class="fframe-rec-card-t2 fframe-rec-card-ii"></div>
                                            <div class="fframe-rec-card-t3 fframe-rec-card-ii"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fframe-message">
                                    <div class="" style="height: 10px;"></div>
                                    <div class="fframe-message-i"></div>
                                    <div class="fframe-message-i"></div>
                                    <div class="fframe-message-i"></div>
                                </div>
                                
                            </div>
                            <div class="fframe-secondary"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="e-body-topnav e-body-topnav-between e-body-topnav-between1" style="---left: 58%;---top: calc(10% + 10vw - 12px);">
            <svg style="display: inline-block;width: 100%;height: 100%;">
                <use href="#svg__arrow_right"></use>
            </svg>
        </div>
        <div class="e-body-topnav-t-i-pos" style="---left:41%;---top:10%">
            <div class="e-body-topnav-t-i e-miniphone" style="---width:12vw;---height:20vw;">
                
            </div>
        </div>
        <div class="e-body-topnav e-body-topnav-between e-body-topnav-between2" style="---left: 31%;---top: calc(10% + 10vw - 12px);">
            <svg style="display: inline-block;width: 100%;height: 100%;transform: rotate(180deg);">
                <use href="#svg__arrow_right"></use>
            </svg>
        </div>
        <div class="e-body-topnav-t-i-pos" style="---left: 67%;---top: 10%;">
            <div class="e-minicomputer-inc"></div>
            <div class="e-body-topnav-t-i e-minicomputer" style="---width:29vw;---height:15vw;">
                
            </div>
        </div>
        
        
        
    </div>
    
    <div class="e-body-topnav e-body-topnav0">
        <div class="e-body-topnav0-holder">

        </div>
    </div>
    <div class="e-body-topnav e-body-topnav1">
        <% context.ssr_data.schema_key.forEach(function(key){ %>
            <div class="e-body-topnav-i <%= key==context.schema_key?"on":"" %>" data-key="<%=key%>">
                <%= key %> 
                <div class="btn_add_<%=key%>">
                    <div class="e-icon-plus ">
                        <svg style="display: inline-block;width: 30px;height: 30px;">
                            <use href="#svg__edit-plus"></use>
                        </svg>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    
    <div class="e-body-topnav e-body-topnav2">
        <div class="e-body-topnav2-inner fadingout">
            
        </div>
        <div class="e-body-topnav2-inner active">
            <% context.ssr_data.schema_key.forEach(function(key){ %>
                <% if(key==context.schema_key){ %>
                    <% context.ssr_data[`${key}_list`].forEach(function(el){ %>
                        <div class="e-body-topnav-i e-body-topnav3-i e-body-topnav3-i-<%=key%> <%= ((el.parent_code)&&(el.parent_code!="-1"))?"depth1":"" %>" data-code="<%= el.code %>">
                            <%= el[Object.keys(el)[0]]  %>
                            <div class="e-icon-plus btn_edit_<%=key%>" data-data="<%= JSON.stringify(el) %>">
                                <svg style="display: inline-block;width: 30px;height: 30px;">
                                    <use href="#svg__edit-round"></use>
                                </svg>
                            </div>
                        </div>
                    <% }); %>
                <% } %>
            <% }); %>
        </div>
        <div class="e-body-topnav2-inner standby">
            
        </div>
    </div>
    
    <div class="e-body-topnav e-body-topnav3">
        <% context.ssr_data.schema_key.forEach(function(key){ %>
            <% if(key!=context.schema_key && context.ssr_data[`${key}_list`] ){ %>
                <% context.ssr_data[`${key}_list`].forEach(function(el){ %>
                    <div class="e-body-topnav-i e-body-topnav3-i e-body-topnav3-i-<%=key%> <%= ((el.parent_code)&&(el.parent_code!="-1"))?"depth1":"" %>" data-code="<%= el.code %>">
                        <%= el[Object.keys(el)[0]]  %>
                        <div class="e-icon-plus btn_edit_<%=key%>" data-data="<%= JSON.stringify(el) %>">
                            <svg style="display: inline-block;width: 30px;height: 30px;">
                                <use href="#svg__edit-round"></use>
                            </svg>
                        </div>
                    </div>
                <% }); %>
            <% } %>
        <% }); %>
        
    </div>
</div>
<script>
    let topnav2_next_busy = false
    let topnav2_next = (key)=>{
        if(topnav2_next_busy){
            return
        }
        topnav2_next_busy = true
        let el = document.querySelector(".e-body-topnav2-inner.active")
        let el_next = document.querySelector(".e-body-topnav2-inner.standby")
        let el_stale = document.querySelector(".e-body-topnav2-inner.fadingout")
        let holder0 = document.querySelector(".e-body-topnav0-holder")
        let holder2 = document.querySelector(".e-body-topnav2")
        let holder3 = document.querySelector(".e-body-topnav3")
        let holder0_children = holder0.children[0]
        if(holder0_children){
            Array.from(holder0_children.children).forEach((x)=>{
                holder3.append(x)
            })
            holder0_children.style.width = ""
            holder0_children.style.height = ""
            holder0_children.style.left = ""
            holder0_children.style.top = ""
            holder2.append(holder0_children)
        }
        
        

        el_next.innerHTML = ""
        Array.from(holder3.querySelectorAll(`.e-body-topnav3-i-${key}`)).forEach((el)=>{
            el_next.append(el)
        })
        // document.querySelectorAll(".e-body-topnav2-inner.fadingout > *").forEach((el)=>{
        //     holder3.append(el)
        // })

        el.classList.remove("active")
        el.classList.add("fadingout")
        el_next.classList.remove("standby")
        el_next.classList.add("active")
        el_stale.classList.remove("fadingout")
        el_stale.classList.add("standby")
        
        return new Promise((resolve, reject)=>{
            setTimeout(()=>{
                let _width = el.getClientRects()[0].width
                let _height = el.getClientRects()[0].height
                let x = el.getClientRects()[0].x
                let y = el.getClientRects()[0].y
                el.style.width = _width + "px"
                el.style.height = _height + "px"
                el.style.left = (-holder2.getClientRects()[0].width-holder0.getClientRects()[0].width-_width) + "px"
                el.style.top = "280" + "px"
                holder0.append(el)
                Array.from(el.children).forEach((x)=>{
                    holder3.append(x)
                })
                // setTimeout(()=>{
                //     el.style.width = "100%"
                //     el.style.height = "100%"
                //     el.style.left = "0"
                //     el.style.top = "0"
                // },500)
                
                resolve(true)
            },1100)
        }).then(()=>(
            new Promise((resolve, reject)=>{
                setTimeout(()=>{
                    el.style.width = "100%"
                    el.style.height = "100%"
                    el.style.left = "0"
                    el.style.top = "0"
                    topnav2_next_busy = false
                },200)
            })
        ))
    }
    document.querySelectorAll(".e-body-topnav1 .e-body-topnav-i").forEach((el)=>{
        el.addEventListener("click",async (ev)=>{
            
            if(topnav2_next_busy){ 
                return false
            }
            if(ev.target.classList.contains("on")){
                return false
            }
            let pre_el = el.closest(".e-body-topnav").querySelector(".e-body-topnav-i.on")
                pre_el && pre_el.classList.remove("on")
                el.classList.add("on")
            let clicked = await topnav2_next(el.dataset.key)
            
        })
    })
    // ======
    function getTransitionEndEventName() {
        var transitions = {
            "transition"      : "transitionend",
            "OTransition"     : "oTransitionEnd",
            "MozTransition"   : "transitionend",
            "WebkitTransition": "webkitTransitionEnd"
        }
        let bodyStyle = document.body.style;
        for(let transition in transitions) {
            if(bodyStyle[transition] != undefined) {
                return transitions[transition];
            } 
        }
    }
    
    let _append2el = function() {
        this.busy = false
    }
    _append2el.prototype.invoke = function(el_a,el_b){
        if(el_b.contains(el_a)){
            return false
        }
        if(this.busy){
            return false
        }
        this.busy = true 
        let pos_el_ComputedStyle_a = window.getComputedStyle(el_a.closest(".e-body-topnav-t-i-pos"))
        let pos_el_ComputedStyle_b = window.getComputedStyle(el_b.closest(".e-body-topnav-t-i-pos"))
        let pos_el_ComputedStyle_a_inner = window.getComputedStyle(el_a)
        let pos_el_ComputedStyle_b_inner = window.getComputedStyle(el_b)

        let x = parseInt(pos_el_ComputedStyle_a.getPropertyValue('left').replace("px",""))//el_a.getClientRects()[0].x)
        let y = parseInt(pos_el_ComputedStyle_a.getPropertyValue('top').replace("px",""))
        let to_x = parseInt(pos_el_ComputedStyle_b.getPropertyValue('left').replace("px",""))
        let to_y = parseInt(pos_el_ComputedStyle_b.getPropertyValue('top').replace("px",""))

        let pd_top = parseInt(pos_el_ComputedStyle_b_inner.getPropertyValue('padding-top').replace("px",""))
        let pd_bottom = parseInt(pos_el_ComputedStyle_b_inner.getPropertyValue('padding-bottom').replace("px",""))
        let pd_left = parseInt(pos_el_ComputedStyle_b_inner.getPropertyValue('padding-left').replace("px",""))
        let pd_right = parseInt(pos_el_ComputedStyle_b_inner.getPropertyValue('padding-right').replace("px",""))
        let width = parseInt(pos_el_ComputedStyle_a.getPropertyValue('width').replace("px",""))
        let height = parseInt(pos_el_ComputedStyle_a.getPropertyValue('height').replace("px",""))

        let to_pd_top = parseInt(pos_el_ComputedStyle_b_inner.getPropertyValue('padding-top').replace("px",""))
        let to_pd_bottom = parseInt(pos_el_ComputedStyle_b_inner.getPropertyValue('padding-bottom').replace("px",""))
        let to_pd_left = parseInt(pos_el_ComputedStyle_b_inner.getPropertyValue('padding-left').replace("px",""))
        let to_pd_right = parseInt(pos_el_ComputedStyle_b_inner.getPropertyValue('padding-right').replace("px",""))
        let to_width = el_b.getClientRects()[0].width
        let to_height = el_b.getClientRects()[0].height

        el_a.style.width = (to_width - to_pd_left - to_pd_right) +'px'
        el_a.style.height = (to_height - to_pd_top - to_pd_bottom)+'px'

        // 
        el_a.style.top = (y + to_pd_top)+'px'
        el_a.style.left = (x + to_pd_left) +'px'
        el_a.style.width = (width - pd_left - pd_right) +'px'//pos_el_ComputedStyle_a.getPropertyValue('width')
        el_a.style.height = (height - pd_top - pd_bottom)+'px' //pos_el_ComputedStyle_a.getPropertyValue('height')
        
        el_a.style.position = "absolute"
        el_a.closest(".e-body-topnav-t").append(el_a)
        
        //let getTransitionEndEventName = getTransitionEndEventName()
        let recover = ()=>{
            let ev = el_a.addEventListener(getTransitionEndEventName(), ()=>{
                el_a.removeEventListener(getTransitionEndEventName(), ev)
                el_a.style.top = ""
                el_a.style.left = ""
                el_a.style.width = ""
                el_a.style.height = ""
                el_a.style.position = ""
                el_b.append(el_a)
                this.busy = false
                return true
            });
        }
        

        window.requestAnimationFrame(()=>{
            setTimeout(()=>{
                el_a.style.top = (to_y + to_pd_top)+'px'
                el_a.style.left = (to_x + to_pd_left) +'px'
                el_a.style.width = (to_width - to_pd_left - to_pd_right) +'px'
                el_a.style.height = (to_height - to_pd_top - to_pd_bottom)+'px'
            },0)
            recover()
        })

        
    }
    let append2el = new _append2el()
    let dsfghjkdbb = 0
    document.querySelector(".e-body-topnav-between1").addEventListener("click", ()=>{
        if(append2el.busy||dsfghjkdbb>=2){
            return
        }
        dsfghjkdbb += 1
        append2el.invoke(document.querySelector(".e-body-topnav-t-i-el"),
            document.querySelectorAll(".e-body-topnav-t-i")[dsfghjkdbb]
        )
    })
    document.querySelector(".e-body-topnav-between2").addEventListener("click", ()=>{
        if(append2el.busy||dsfghjkdbb<=0){
            return
        }
        dsfghjkdbb -= 1
        append2el.invoke(document.querySelector(".e-body-topnav-t-i-el"),
            document.querySelectorAll(".e-body-topnav-t-i")[dsfghjkdbb]
        )
    })
    
    // let dsfghjkdbb = 1 
    // setInterval(()=>{
    //     append2el.invoke(document.querySelector(".e-body-topnav-t-i-el"),
    //         document.querySelectorAll(".e-body-topnav-t-i")[dsfghjkdbb]
    //     )
    //     dsfghjkdbb++ 
    //     dsfghjkdbb = dsfghjkdbb % 3
    // },3000)

    // append2el.invoke(document.querySelector(".e-body-topnav-t-i-el"),
    //     document.querySelectorAll(".e-body-topnav-t-i")[1]
    // )
</script>