<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partial_pages/headmeta") %>
    <%- include("../../css/project.css.ejs") %>
</head>

<body>
    
    <%- include("../partial_pages/header.ejs", {context:context}) %>
    <div class="e-body">
        <%- include("../partial_pages/leftnav.ejs", {context:context, plusBTN: true}) %>
        <div class="e-body-maincontent">

            <div class="e-post-itemwrapper">
                <% if(parseInt(context.user_privilege) >= 4) {%>
                <div class="e-post-item btn_addpostX">
                    <div class="e-icon-plus">
                        <svg style="display: inline-block;width: 30px;height: 30px;">
                            <use href="#svg__edit-plus"></use>
                        </svg>
                    </div>
                </div>
                <% }; %>
                
                <% if(context.ssr_data.posts) { %>
                    <% context.ssr_data.posts.forEach(function(el){ %>
                        <a class="e-post-item" href="/post/<%= el.code %>">
                            <div class="e-post-item-text1">
                                <%= new Date(Date(el.createTime)).toISOString().slice(0,10) %>
                            </div>
                            <div class="e-post-item-text2">
                                <div class="e-post-item-text2-i1">
                                    <%= el.title %>
                                </div>
                                <div class="e-post-item-text2-i2">
                                    <%= el.title_short %>
                                </div>
                            </div>
                        </a>
                        
                    <% }) %>
                <%  } %>
            </div>
        </div>
        <%- include("../partial_pages/rightnav.ejs", {context:context}) %>
    </div>
    <%- include("../partial_pages/footer.ejs", {context:context}) %>
    <%- include("../partial_pages/epopup.ejs", {context:context}) %>
    <!-- e-popup  -->
    



    </body>

</html>