<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partial_pages/headmeta") %>
    <%- include("../../css/project.css.ejs") %>
</head>

<body>
    
    <%- include("../partial_pages/header.ejs", {context:context}) %>
    <div class="e-body">
        <%- include("../partial_pages/leftnav.ejs", {context:context, plusBTN: true}) %>
        <div class="e-body-maincontent">

            <div class="e-post-itemwrapper">
                <% if(parseInt(context.user_privilege) >= 4) {%>
                <div class="e-post-item btn_editpost">
                    <div class="e-icon-plus">
                        <svg style="display: inline-block;width: 30px;height: 30px;">
                            <use href="#svg__edit-round"></use>
                        </svg>
                    </div>
                </div>
                <% }; %>

                <div class="e-post-wrapper" data-dkey="<%= context.ssr_data.posts[0].d_key%>">
                    <div class="e-post-title">
                        <%= context.ssr_data.posts[0].title%>
                    </div>
                    <div class="e-post-contentwrapper">
                        <%- context.ssr_data.posts[0].content_html%>
                    </div>
                </div>

            </div>
        </div>
        <%- include("../partial_pages/rightnav.ejs", {context:context}) %>
    </div>
    <%- include("../partial_pages/footer.ejs", {context:context}) %>
    <%- include("../partial_pages/epopup.ejs", {context:context}) %>

    </body>

</html>